.form-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 30rem;
  width: 100%;
}

.thumbnail {
  width: 200px;
  height: auto;
  object-position: center;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 1rem;
}
