nav {
  min-height: 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.4rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
