nav {
  min-height: 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.left-nav {
  display: flex;
  align-items: center;
}

#navbarSupportedContent {
  // background-color: #fff;
}
