/* Category Index */

.category-index-box {
  height: 100%;
  margin: 2rem auto;
}

.category-index {
  display: grid;
  gap: 1rem;
}

.category-link {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.category-link:hover {
  filter: brightness(90%);
  color: #fff;
  text-decoration: none;
}

.category-description {
  line-height: 2;
  padding: 0 2rem;
  text-align: center;
}
