.plant-details-box {
  margin-bottom: 2rem;
}

.plant-detail-image {
  max-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.plant-detail-image img {
  height: auto;
  width: 100%;
}

.plant-detail-header {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-bottom {
  display: flex;
  align-items: center;
}

.detail-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-buttons {
  max-width: 20rem;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
}
