footer.main-footer
  a(href="/login" class="btn btn-primary") Login
  img(src="/images/background-images/pngfuel.com.png" width="40px" height="40px")
  h2.heading Made by me, Kgilla
    //- a(href="/" class="navbar-brand main-heading") Plantarama
