footer.main-footer
  div.social-links
    a(href="")
    a(href="")
  a(href="/login" class="hidden-link")
    h2.small-heading Made by me, Kgilla
    //- a(href="/" class="navbar-brand main-heading") Plantarama
