title= title
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="description" content="Plant database web application")
meta(property="og:title" content="Plantarama")
meta(property="og:type" content="website")
meta(property="og:url" content="https://plantarama.herokuapp.com")
meta(
    property="og:image"
    content="https://plantarama.herokuapp.com/images/screenshots/Screen Shot 2020-10-16 at 2.05.28 AM.png"
)
link(rel='stylesheet', href='/css/main.css')
link(rel="icon", href="/images/background-images/favicon.ico")
script(src="/jquery/dist/jquery.js")
script(src="/bootstrap/dist/js/bootstrap.js") 
