nav
  div(class="main-header")
    a(href="/")
      h1(class="main-heading") Plantarama
  div(class="nav-links")
    div(class="left-nav-links")
      a(href="/plants" class="nav-link") All Plants
      a(href="/category" class="nav-link") Plant Catagories
    div(class="right-nav-links")
      a(href="/plant/create" class="nav-link") Add Plant
      a(href="/category/create" class="nav-link") Add Category