extends layout

block content
  
  div(class="catagory-link-box")
    
    h1(class="sub-title")= title
    
    each catagory in catagory_list
      a(href=catagory.url class="catagory-link") #{catagory.name}

