extends layout

block content
  form(action="" method="POST")
    h1(class="sub-title")= title
    div(class="form-group")
      label(for="name") Category Name
      input(type="text" name="name" required="true" value=(undefined===category ? '' : category.name))
    button(type="submit") Add Category
    
  if errors 
    ul
      for error in errors
        li!= error.msg