extends layout

block content
  if success != ""
    div.alert.alert-success= success
  div.hero
    div.hero-text-box
      h1.hero-heading Plants Are Neat!
      h2.sub-heading Create an indoor jungle with these plants.
      a.btn.btn-success(href="/plants") Browse Plants
  div.square-trio
    a(href="/category")#square1
      h2.sub-heading Browse plants by category.
    a(href="/about")#square2
      h2.sub-heading What Plantarama is all about.
    a(href="")#square3
      h2.sub-heading How to better take care of plants and see them thrive.
  div.container.mt-3.mb-3
    h2.sub-heading We believe plants make life better.
    p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in sagittis enim, eget consequat arcu. Sed rutrum bibendum nibh, vitae mattis nisl feugiat lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc interdum faucibus felis, quis sagittis dolor. Vivamus eu vestibulum nisl. Pellentesque auctor nec neque vel aliquam. Nulla varius sem velit, vel cursus dui scelerisque ac. Fusce id feugiat nulla. Vivamus sagittis non sem non elementum. Pellentesque dui erat, viverra et condimentum non, feugiat vitae erat. Proin euismod malesuada accumsan. In quis quam orci. Nulla sit amet magna ac justo hendrerit tempor. Etiam interdum, nisl eu pretium mattis, tellus dui aliquet eros, pellentesque elementum libero elit quis augue. Sed aliquam, libero hendrerit suscipit pulvinar, leo magna pulvinar tortor, vel dignissim lacus enim nec turpis. Fusce in cursus justo, nec fermentum libero.

    p.content Cras interdum dolor odio, a sollicitudin eros varius quis. Vestibulum convallis tempus ipsum, ac ornare orci euismod quis. Fusce lobortis convallis nibh, quis vehicula libero rutrum a. In vel tincidunt nulla. In leo leo, volutpat non maximus non, semper at leo. Sed quis augue neque. Sed rhoncus purus odio, id ultricies tellus posuere a. Aenean dictum orci sit amet tempor malesuada. Mauris dictum tincidunt nisl at pulvinar. 
  include partials/_footer


