extends layout

block content
  h1= title
  form(action="" method="POST")
    div(class="form-group")
      label(for="name") Plant Name
      input(type="text" name="name")
    div(class="form-group")
      label(for="description") Description
      textarea(name="description", cols="30", rows="10")
    div(class="form-group")
      label(for="catagory") Plant Catagory
      select(name="catagory")
        each catagory in catagories
          option(value=catagory.name)= catagory.name
    div(class="form-group")
      label(for="price") Price
      input(type="text" name="price")
    div(class="form-group")
      label(for="stock") Current Stock
      input(type="text" name="stock")
    button(type="submit") Create Plant
    