@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 16px;
}

* {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #1e8449;
  padding: 1rem;
}

.main-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: #229954;
}

.left-nav-links {
  display: flex;
}

.right-nav-links {
  display: flex;
}

.nav-link {
  padding: 0 3rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  filter: brightness(80%);
}

.main-content {
  padding: 2rem 7rem;
}

.sub-title {
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: bold;
}

/* plant index */

.plant-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plant-box {
  padding: 1rem;
}

.plant-name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.plant-description {
}

.plant-box img {
  width: 100%;
  height: 300px;
  object-position: center;
  object-fit: cover;
}

/* plant details */

.plant-detail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5rem;
}

.plant-detail-box img {
  height: auto;
  width: 90%;
  padding: 2rem;
}

.plant-description {
  padding: 1rem;
}

.button-box {
  padding: 1rem;
  margin: 1rem;
}

.update-plant,
.delete-plant {
  padding: 1rem;
  margin: 0 2rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
  color: #fff;
}

.update-plant {
  background: #999;
}

.delete-plant {
  background: #e53935;
}

/* plant form */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border: 1px solid #000;
}

.form-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

form button {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
}
